@import url('https://fonts.googleapis.com/css?family=Noto Sans Sinhala');
.block_container {
  display: flex;
  margin: auto;
}

.block1 {
  text-align: center;
}

.block2 {
  text-align: left;
}

.metaphor_left{
  height: 10vh;
  width: 645px;
  border-style: outset;
 /* background-image: linear-gradient(to left, #d4ebf1, #f9fbfc);*/
  padding: 10px;
  /*box-shadow: 10px 10px 5px lightblue;*/
  cursor: pointer;
}

.metaphor_left:hover{
  background-image: linear-gradient(to left, #d4d6f1, #f9f9fc);
}

.metaphor_right{
  height: 10vh;
  width: 645px;
  border-style: outset;
  /* background-image: linear-gradient(to left, #d4ebf1, #f9fbfc);*/
  padding: 10px;
  /*box-shadow: 10px 10px 5px lightblue;*/
  cursor: pointer;
}

.metaphor_right:hover{
  background-image: linear-gradient(to left, #d4d6f1, #f9f9fc);
}

.song_details{
  height: 20vh;
  width: 645px;
  border-style: outset;
  background-image: linear-gradient(to right, #d4d6f1, #f9f9fc);
  padding: 10px;
  box-shadow: 10px 10px 5px lightblue;
}

.lyrics{
  min-height: 100px;
  overflow: hidden;
  width: 645px;
  border-style: outset;
  background-image: linear-gradient(to left, #d4d6f1, #f9f9fc);
  padding: 10px;
  box-shadow: 10px 10px 5px lightblue;
}

.meta_details{
  height: 20vh;
  width: 645px;
  border-style: outset;
  background-image: linear-gradient(to right, #d4d6f1, #f9f9fc);
  padding: 10px;
  box-shadow: 10px 10px 5px lightblue;
}

.no_meta{
  height: 10vh;
  width: 645px;
  border-style: outset;
  background-image: linear-gradient(to left, #d4d6f1, #f9f9fc);
  padding: 10px;
  box-shadow: 10px 10px 5px lightblue;
}

.meta_topic{
  height: 10vh;
  width: 645px;
  border-style: outset;
  /*background-image: linear-gradient(to left, #d4ebf1, #f9fbfc);*/
  padding: 10px;
  /*box-shadow: 10px 10px 5px lightblue;*/
}

.song_topic{
  height: 10vh;
  width: 645px;
  border-style: outset;
  background-image: linear-gradient(to left, #d4d6f1, #f9f9fc);
  padding: 10px;
  box-shadow: 10px 10px 5px lightblue;
}
div:focus {
  background-image: linear-gradient(to left, #d4d6f1, #f9f9fc);
}

.block_container{
  font-family: 'Noto Sans Sinhala'
}