.App {
  text-align: center;
  }
  .topic{
      font-size: 20px;
      font-weight: 60;
      background-image: linear-gradient(to left, #3c9a47, #9399d3);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      
    }